﻿
@{
    ViewBag.Title = "View";
}

<div class="container-fluid">
    <div class="row">
        <div id="contact-form" class="col-md-10 col-md-offset-1">
            @*<div class="col-md-2 col-md-offset-5" style="margin-top:20px;">
                <img class="img-responsive" alt="lookster logo" src="~/Content/images/logo.png" />
            </div>*@


            <h1 class="text-center" style="color:#334D5C; font-weight: bold;">Регистрация прошла успешно!</h1>
            <h3 class="text-center" style="color: #45b29d;  font-weight: bold; margin-top: 15px;">Спасибо, что выбрали Looksterapp! Мы рады, что вы с нами.</h3>
            <ul class="col-md-12 text-center" style="margin-top:50px;">
                <p class="text-center" style="color:grey;">По всем вопросам обращайтесь на <a href="support@looksterapp.info">  support@looksterapp.info</a></p>
                <li style="display:inline; padding-right: 20px;">@Html.ActionLink("Политика конфиденциальности", "PrivacyPolicy", "Legal")</li>
                <li style="display:inline; padding-right: 20px;">@Html.ActionLink("Условия использования", "TermsOfUse", "Legal")</li>
                <li style="display:inline; padding-right: 20px;">@Html.ActionLink("Главная", "Index", "Home")</li>

            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @*<div class="col-md-2 col-md-offset-5" style="margin-top:30px;">
            <i class="fa fa-user-plus" style="color: #45b29d; width:100%;"></i>
        </div>*@
       
       
    </div>
</div>

