﻿@{
    ViewBag.Title = "ErrorTransaction";
}

<script>
    document.getElementById("main-body").style.background = "rebeccapurple";
    window.onload = function () {
        var redirectUrl = "document.location.href=" + "'/Home';";
        setTimeout(redirectUrl, 3000);
    }
</script>
<h2 class="text-center" style="color:red;">ErrorTransaction</h2>

