﻿@model LooksterWeb.Models.ResetPasswordModel
@{
    ViewBag.Title = "View";
}


<div class="container-fluid">
    <div class="row">
        <div id="contact-form" class="col-md-10 col-md-offset-1 ">
            <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4" style="margin-top:20px; margin-bottom:20px;">
                <img class="img-responsive" alt="lookster logo" src="~/Content/images/logo.png" />
            </div>

            @using (Ajax.BeginForm("ResetPassword", "Transactions", null, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "contact-form" }, new { @class = "col-md-4 col-md-offset-4" }))
            {
                @Html.HiddenFor(model => model.Email);
                <h1 class="text-center" style="color:#334D5C; font-weight: bold; margin-bottom: 30px;">Смена пароля</h1>
                <div class="">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @placeholder = "Пароль", @style = "border: none; border-bottom: 1px solid grey;", @id = "password1" } })
                    <span class="error"> @Html.ValidationMessageFor(model => model.Password)</span>
                </div>
                <div class="">
                    @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @type = "password", @required = "true", @placeholder = "Повторить пароль", @style = "border: none; border-bottom: 1px solid grey;", @id = "password2" } })
                    <span class="error">@Html.ValidationMessageFor(model => model.RepeatPassword)</span>
                </div>
                <br />
                <div>
                    <p id="error_input" style="color:red; font-weight:bold;"></p>
                </div>
                
                <div class="width:100%;">
                    <input type="submit" class="orange-button" value="Сохранить" style="width:100%; " onclick="return validateForm()">
                    <p class="text-center" style="color:grey;">По всем вопросам обращайтесь на <a href="support@looksterapp.info">  support@looksterapp.info</a></p>
                </div>
            
            }
            <ul class="col-md-12 text-center" style="margin-top:50px;" >
                <li style="display:inline; padding-right: 20px;">@Html.ActionLink("Политика конфиденциальности", "PrivacyPolicy", "Legal")</li>
                <li style="display:inline; padding-right: 20px;">@Html.ActionLink("Условия использования", "TermsOfUse", "Legal")</li>
                <li style="display:inline; padding-right: 20px;">@Html.ActionLink("Главная", "Index", "Home")</li>

            </ul>
        </div>
    </div>
</div>

<script>
    function validateForm () {

    var password1 = document.getElementById('password1');
    var password2 = document.getElementById('password2');
    var reg = /(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{8,255})$/;
    if (password1.value !== password2.value) {
        document.getElementById("error_input").innerHTML = "Пароли должны быть одинаковыми!";
        return false;
        }

    if (!reg.test(password1.value) || !reg.test(password2.value)) {
        document.getElementById("error_input").innerHTML = "Пароль должен содержать буквы и цифры, минимум 8 символов.";
        return false;
    } 
    
    }
 

</script>