﻿@{
    ViewBag.Title = "SuccessTransaction";
}

<script>
document.getElementById("main-body").style.background = "orange";
	window.onload = function () {
		var redirectUrl = "document.location.href=" + "'/Home';";
		setTimeout(redirectUrl, 3000);
	}
</script>
<h2 class="text-center" style="color:white;">Success Transaction</h2>

