﻿
@{
    ViewBag.Title = "PrivacyPolicy";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2  ">
            <h1 class="text-center" style="margin-bottom: 50px;">Политика конфиденциальности LooksterApp</h1>
            <div>

                Добро пожаловать в Looksterapp («Looksterapp», «мы», «нам», «наш»). Looksterapp – это сервис, который помогает выбрать наилучшее фото из двух имеющихся. Просто сделайте пару фотографий, опубликуйте их с вашим вопросом и ждите результат.</br></br>
                •	Наша Политика конфиденциальности регламентирует сбор, использование, передачу и защиту информации нами и некоторыми из компаний, с которыми мы сотрудничаем, при использовании нашего мобильного приложения, веб-сайта и любых программ, предоставляемых Looksterapp или связанными с ним сервисами (общее наименование «Сервис»), а также ваши возможности по управлению сбором и использованием вашей информации.</br>
                •	Используя наш Сервис, вы выражаете свое понимание и согласие с тем, что мы предоставляем вам платформу для публикации материалов, в том числе фотографий, комментариев и другой информации («Материалы пользователя»), на нашем Сервисе и для публичного распространения Материалов пользователя. Это означает, что другие Пользователи могут искать, просматривать, использовать или распространять любые Материалы пользователя, к которым вы предоставляете общий доступ с помощью Сервиса в соответствии с правилами нашей Политики конфиденциальности и нашими Условиями использования.</br>
                •	Наша Политика применяется ко всем посетителям, пользователям и другим лицам, которые получают доступ к Сервису («Пользователи»).</br>


            </div>
            <div>
                <h3 style="font-weight:bold; border-bottom: 2px solid #333; margin-bottom: 30px;">1. ИНФОРМАЦИЯ, СОБИРАЕМАЯ НАМИ</h3>

                <h4 style="font-weight:bold;"> Информация, которую вы предоставляете нам напрямую: </h4>
                •	Ваше имя пользователя, пароль, адрес электронной почты, страна, пол и возраст вводимые при регистрации аккаунта на Looksterapp.</br>
                •	Информация, внесенная вами в профиль пользователя (например, фотография, дата рождения, страна).</br>
                •	Материалы пользователя (например, фотографии, комментарии и другое содержимое), публикуемые на Сервисе.</br>
                •	Переписка между вами и Looksterapp. Например, мы можем посылать на вашу электронную почту сообщения, связанные с Сервисом (такие, как подтверждение регистрации, информацию об изменениях и обновлениях функций Сервиса, технические уведомления и уведомления о безопасности). Обратите внимание, что вы не можете отказаться от рассылок по электронной почте, связанных с Сервисом.</br>
                
                <h4 style="font-weight:bold;">Информация, собираемая в форме статистики: </h4>

                •	Информация, за проголосованное Вами фото может собираться и показываться другим пользователям в виде статистики, таким образом, что из нее невозможно корректно выделить информацию о каком-либо конкретном Пользователе.</br>

                <h4 style="font-weight:bold;">Аналитическая информация:</h4>
                •	Мы можем использовать сторонние инструменты анализа для оценки трафика и направлений использования Сервиса. Эти инструменты собирают информацию, отправленную вашим устройством или нашим Сервисом, в том числе данные о посещенных вами страницах, программах и иную информацию, которая может помочь нам улучшить Сервис. Мы можем собирать и использовать эту аналитическую информацию в совокупности с аналитической информацией о других Пользователях таким образом, что из нее невозможно корректно выделить информацию о каком-либо конкретном Пользователе.</br>
                <h4 style="font-weight:bold;"> Файлы «cookie» и подобные технологии:</h4>
                •	При посещении вами Сервиса мы можем использовать файлы «cookie» и другие подобные технологии (например, пиксели, веб-маяки и локальное хранилище), чтобы собрать информацию о том, как вы используете Looksterapp, и предложить вам соответствующие услуги.</br>
                •	Мы можем обратиться к рекламодателям или иным партнерам за предоставлением рекламных объявлений или услуг на ваше устройство, которые могут использовать файлы «cookie» или подобные технологии, размещенные нами или третьими лицами.</br>
                <h4 style="font-weight:bold;">Информация файла журнала:</h4>
                    •	Информация файла журнала автоматически передается вашим браузером каждый раз, когда вы делаете запрос на доступ (т. е. посещение) к веб-странице или приложению. Она также может предоставляться, когда содержимое веб-страницы или приложения загружается в ваш браузер или устройство.</br>
                    •	Когда вы пользуетесь Сервисом, наши серверы автоматически записывают определенную информацию для файла журнала, в том числе данные о ваших запросах, IP-адресе и типе браузера; странице, с которой вы вошли на сайт; странице, с которой вы покинули сайт; адресах страниц, количестве кликов и взаимодействии с ссылками на Сервисе; доменных именах, целевых страницах, просмотренных страницах, и иную подобную информацию. Мы также можем собирать подобную информацию из электронных почтовых сообщений, отправленных нашим Пользователям, чтобы иметь возможность отследить, какие сообщения были просмотрены и по каким ссылкам перешел получатель. Эта информация помогает составлять более точные отчеты и улучшать Сервис.</br>
                <h4 style="font-weight:bold;">Идентификаторы устройства:</h4>
                    •	Когда вы используете мобильное устройство (например, планшет или телефон) для доступа к нашему Сервису, мы можем получать доступ к «идентификатору» вашего устройства, собирать, отслеживать и хранить на вашем устройстве и (или) хранить удаленно один или несколько идентификаторов устройства. Идентификаторы устройства — это небольшие файлы с данными или подобные структуры данных, которые хранятся на вашем мобильном устройстве (или связаны с ним) и идентифицируют его как уникальное. Идентификатор устройства может представлять собой данные, которые хранятся в аппаратном обеспечении устройства; данные, которые хранятся в операционной системе или другом программном обеспечении устройства; или данные, которые пересылаются Looksterapp на устройство.</br>
                    •	Идентификатор устройства может предоставлять нам или стороннему партнеру информацию о том, как вы перемещаетесь по Сервису и используете Сервис, что может помочь нам или другим сторонам составлять отчеты или персонализировать рекламные объявления и другие материалы. Некоторые функции Сервиса не могут работать надлежащим образом, если идентификаторы устройства частично или полностью недоступны.</br>
                <h4 style="font-weight:bold;">Метаданные:</h4>
                    •	Метаданные — это, как правило, технические данные, связанные с Материалами пользователя. Например, Метаданные могут описывать, как, когда и кем была получена какая-либо часть Материалов пользователя и как это содержимое было изменено.</br>
                    •	Пользователи могут добавлять к своим Материалам пользователя Метаданные (или же они добавляются другой стороной), например комментарии или иные данные. Таким образом ваши Материалы становятся более доступными для поиска и взаимодействия. Если вы отмечаете на фотографии местоположение или делаете метки с помощью других интерфейсов API, то данные о широте и долготе вашего местоположения будут храниться вместе с фотографией и будут доступны для поиска (например, с помощью поиска по местоположению или карте), при условии, что вы сделали свою фотографию общедоступной, указав это в своих настройках конфиденциальности.</br>

</div>
            <div>
                <h3 style="font-weight:bold; border-bottom: 2px solid #333; margin-bottom: 30px;">2. КАК МЫ ИСПОЛЬЗУЕМ ВАШУ ИНФОРМАЦИЮ</h3>

                В дополнение к некоторым конкретным способам использования информации, описанным в настоящей Политике конфиденциальности, мы можем использовать полученную информацию, чтобы:</br></br>
                •	помочь вам быстро получать доступ к своей информации после регистрации</br>
                •	запоминать информацию, чтобы вам не пришлось заново вводить ее во время текущего или следующего посещения Сервиса;</br>
                •	предоставлять вам и другим лицам персонализированные материалы и данные, в число которых могут входить рекламные объявления или иные маркетинговые материалы</br>
                •	обеспечивать, повышать, тестировать и отслеживать эффективность Сервиса</br>
                •	разрабатывать и тестировать новые продукты и функции</br>
                •	отслеживать метрики, например общее число посетителей, трафик и демографический состав</br>
                •	диагностировать или исправлять технические неполадки</br>
                •	автоматически обновлять приложение Looksterapp на вашем устройстве</br>



            </div>
            <div>
                <h3 style="font-weight:bold; border-bottom: 2px solid #333; margin-bottom: 30px;">3. ПЕРЕДАЧА ВАШЕЙ ИНФОРМАЦИИ</h3>

                Мы не предоставляем и не продаем вашу информацию третьим лицам, не имеющим отношения к Looksterapp (или группе компаний, в которую входит Looksterapp), без вашего согласия, за исключением случаев, описанных в настоящей Политике конфиденциальности.</br>

                <h4 style="font-weight:bold;">Стороны, с которыми мы можем делиться вашей информацией: </h4> 
                •	Мы можем предоставлять определенную информацию (например, данные из файлов «cookie») сторонним рекламным партнерам. Эта информация позволит сторонним рекламным организациям, помимо всего прочего, предлагать вам рекламные объявления, которые, по их мнению, будут наиболее интересны вам.</br>
                •	Мы можем удалить часть данных, по которым можно идентифицировать вас, и передать третьим лицам анонимные данные. Кроме того, мы можем присовокуплять вашу информацию к другой информации таким образом, чтобы она утрачивала связь с вами, и передавать третьим лицам эту совокупную информацию.</br>
                <h4 style="font-weight:bold;"> Стороны, которым вы по желанию можете предоставлять доступ к своим Материалам пользователя:</h4>
                •	Любая информация или материалы, к которым вы добровольно открываете доступ при публикации на Сервисе (например, Материалы пользователя), становятся публично доступными в соответствии с выбранными вами настройками конфиденциальности. Для изменения ваших настроек конфиденциальности на Сервисе измените настройки вашего профиля. Как только вы опубликовали Материалы пользователя или сделали их общедоступными, другие лица могут распространять ваши Материалы пользователя.</br>
                •	В зависимости от ваших настроек профиля и конфиденциальности любые Материалы пользователя, которые вы делаете общедоступными, могут отображаться в ленте других Пользователей или использоваться интерфейсом API Looksterapp.</br>             •	Если вы удаляете информацию, опубликованную вами на Сервисе, то ее копии могут оставаться доступными в кэшированных и архивированных страницах Сервиса, или в случае, если другие Пользователи или третьи лица использовали интерфейс API Looksterapp для копирования или сохранения этой информации.</br>

            </div>
            <div style="margin-bottom: 50px;">
                <h3 style="font-weight:bold; border-bottom: 2px solid #333;margin-bottom: 30px;">4. КАК МЫ ХРАНИМ ВАШУ ИНФОРМАЦИЮ</h3>

                <h4 style="font-weight:bold;">Хранение и обработка:</h4>
                
                •	Мы используем коммерчески целесообразные меры предосторожности для обеспечения безопасности информации, собранной через Сервис, и предпринимаем разумные действия (например, запрос уникального пароля) для идентификации Пользователя, прежде чем предоставить вам доступ к вашему аккаунту. Тем не менее, Looksterapp не может обеспечить полную сохранность любой информации, которую вы передаете Looksterapp, или гарантировать, что информация на Сервисе не будет раскрыта, обнародована, изменена или уничтожена.</br>
                •	Пожалуйста, сделайте все от вас зависящее, чтобы помочь нам. Вы несете ответственность за сохранение в тайне вашего уникального пароля и информации аккаунта и за контроль доступа к электронной переписке между вами и Looksterapp. Ваши настройки конфиденциальности также могут изменяться в зависимости от изменений услуг социальных сервисов, которые вы подключаете к Looksterapp. Мы не несем ответственность за функциональность, конфиденциальность или меры безопасности любых других организаций.</br>


            </div>
            <div style="margin-bottom: 50px;">
                <h3 style="font-weight:bold; border-bottom: 2px solid #333;margin-bottom: 30px;">5. ПЕРСОНАЛЬНЫЕ НАСТРОЙКИ, КАСАЮЩИЕСЯ ВАШЕЙ ИНФОРМАЦИИ</h3>

                <h4 style="font-weight:bold;">Информация аккаунта и настройки профиля и конфиденциальности:</h4>
                •	Вы можете обновить информацию в вашем аккаунте в любое время, войдя в приложение и изменив настройки своего профиля.</br>
                •	Откажитесь от получения наших сообщений по электронной почте, нажав на ссылку «Отказаться от подписки», которая содержится в каждом сообщении. Как уже было сказано, вы не можете отказаться от получения сообщений, связанных с Сервисом (например, подтверждение аккаунта, подтверждение и напоминание о покупках и счетах, изменения и обновления функций Сервиса, уведомления о безопасности и технических вопросах).</br>
               

                <h4 style="font-weight:bold;">Срок хранения Материалов пользователя:</h4>
                •	После удаления или деактивации вашего аккаунта Looksterapp все ваши данные будут удалены.</br>


            </div>
            <div style="margin-bottom: 50px;">
                <h3 style="font-weight:bold; border-bottom: 2px solid #333;margin-bottom: 30px;">6. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ДЛЯ ДЕТЕЙ</h3>

                Looksterapp намеренно не собирает и не запрашивает какую-либо информацию у людей, не достигших 13 лет, а также не позволяет таким лицам регистрироваться на Сервисе. Сервис и размещаемые на нем материалы не предназначены для лиц младше 13 лет. Если нам станет известно о получении нами личной информации о ребенке младше 13 лет без согласия родителей, мы удалим эту информацию в максимально короткие сроки. Если вы считаете, что у нас может храниться информация о ребенке младше 13 лет или информация, полученная от него, свяжитесь с нами.


            </div>
            <div style="margin-bottom: 50px;">
                <h3 style="font-weight:bold; border-bottom: 2px solid #333;margin-bottom: 30px;">7. ДРУГИЕ ВЕБ-САЙТЫ И СЕРВИСЫ</h3>

                Мы не несем ответственности за действия других веб-сайтов или сервисов, на которых содержатся ссылки на наш Сервис или ссылки на которые содержатся на нашем Сервисе, в том числе за размещенную на них информацию или их содержимое. При переходе по ссылке с нашего Сервиса на другой веб-сайт или сервис помните, что наша Политика конфиденциальности не распространяется на эти сторонние веб-сайты или сервисы. Когда вы посещаете или используете любой сторонний веб-сайт или сервис, включая те, ссылка на которые содержится на нашем веб-сайте, вы подчиняетесь правилам и требованиям этого стороннего сайта или сервиса. Кроме того, вы выражаете согласие с тем, что мы не несем ответственность и не осуществляем контроль за любыми третьими лицами, которым вы предоставляете доступ к вашим Материалам пользователя. Если вы используете сторонний веб-сайт или сервис и даете им доступ к вашим Материалам пользователя, то вы делаете это на свой собственный риск.


            </div>
            <div style="margin-bottom: 50px;">
                <h3 style="font-weight:bold; border-bottom: 2px solid #333;margin-bottom: 30px;">8. КАК СВЯЗАТЬСЯ С НАМИ</h3>

                Если у вас возникли какие-либо вопросы о Политике конфиденциальности или Сервисе, Вы можете связаться с нами по следующему адресу <a href="mailto: support@looksterapp.info"> support@looksterapp.info</a>.


            </div>
            <div style="margin-bottom: 50px;">
                <h3 style="font-weight:bold; border-bottom: 2px solid #333;margin-bottom: 30px;">9. ИЗМЕНЕНИЯ В ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИИ</h3>

                Looksterapp может время от времени изменять или обновлять настоящую Политику конфиденциальности, поэтому мы просим вас периодически просматривать ее. Мы можем предоставить вам дополнительные формы уведомлений об изменениях или обновлениях в соответствии с обстоятельствами. Если вы продолжите использовать Looksterapp или Сервис после внесения изменений в Политику конфиденциальности, это будет означать, что вы выражаете свое согласие с данными изменениями.

            </div>
        </div>
    </div>
</div>

