﻿
@{
    ViewBag.Title = "TermsOfUse";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2  ">
            <h1 class="text-center">Условия использования LooksterApp</h1>
            <h4 class="text-center" style="margin-top: 0;margin-bottom: 50px;">Дата последнего изменения: 18 августа 2017</h4>
            <div>
                
                    Посещая или используя веб-сайт Looksterapp, сервис Looksterapp или любые приложения (в том числе мобильные), предоставляемые Looksterapp (общее название «Сервис»), с помощью любого устройства, вы принимаете настоящие условия использования («Условия использования»). Сервис принадлежит или управляется разработчиками Тищенко Максимом Петровичем и Шатц Кристиной Александровной. В настоящих Условиях использования описаны ваши законные права и обязанности. Если вы не принимаете настоящие Условия использования, не посещайте и не используйте Сервис.

                    В некоторых случаях, когда мы предлагаем определенную функцию с ее собственными условиями и правилами, они применяются в дополнение к настоящим Условиям использования. В этих случаях условия, касающиеся этой функции, не должны вступать в противоречие с настоящими Условиями использования.
               
            </div>
            <div>
                <h3 style="font-weight:bold; border-bottom: 2px solid #333; margin-bottom: 30px;">Основные условия</h3>
               
                    1.	Вы можете использовать Сервис, если вам не менее 13 лет.</br>
                    2.	Вы не можете публиковать с помощью Сервиса фото или иные материалы, содержащие насилие, полное или частичное обнажение, а также противозаконные, нарушающие чьи-либо права, агрессивные, порнографические или непристойные материалы.</br>
                    3.	Вы несете ответственность за любые действия, совершаемые через ваш аккаунт. Вы также подтверждаете, что вся информация, предоставляемая или предоставленная вами Looksterapp при регистрации и во всех других случаях является верной, точной, актуальной и полной, и выражаете согласие на соответствующее обновление своей информации с тем, чтобы она оставалась верной и точной.</br>
                    4.	Вы обязуетесь не требовать, не собирать и не использовать информацию для входа на Сервис других пользователей Looksterapp.</br>
                    5.	Вы несете ответственность за сохранность и неразглашение своего пароля.</br>
                    6.	Вы обязуетесь не клеветать, не преследовать, не досаждать, не оскорблять, не угрожать, не выдавать себя за других физических или юридических лиц или не запугивать таких лиц, а также обязуетесь не публиковать личную или конфиденциальную информацию с помощью Сервиса, в том числе, без исключений, информацию о кредитных картах, номере социального страхования или другого национального удостоверения личности, личном номере телефона или личном эл. адресе, принадлежащих вам или другому человеку.</br>
                    7.	Вы не можете использовать Сервис в каких-либо незаконных или несанкционированных целях. Вы соглашаетесь на соблюдение всех законов, правил и норм, применимых к использованию Сервиса и ваших Материалов (определение приводится ниже), включая, но не ограничиваясь авторскими правами.</br>
                    8.	Вы несете единоличную ответственность за свое поведение и любые данные, тексты, файлы, информацию, имена пользователя, изображения, графику, фото, профили, авторские произведения, приложения, ссылки и иное содержимое или материалы (общий термин «Материалы»), которые вы загружаете, публикуете или демонстрируете на Сервисе или с помощью Сервиса.</br>
                    9.	Вы не должны создавать или отправлять нежелательные эл. письма, комментарии, отметки «Нравится» или иные формы коммерческих или причиняющих беспокойство сообщений (также известных как «спам») любым пользователям Looksterapp.</br>
                    10.	Вы не должны вмешиваться или создавать помехи в работе Сервиса или серверов или сетей, связанных с Сервером, в том числе путем передачи сетевых червей, вирусов, шпионских и вредоносных программ или любых других разрушительных или вредоносных кодов. Вы не можете вносить материалы или коды или иным образом изменять или вмешиваться в отображение любой страницы Looksterapp в браузере или в устройстве пользователя.</br>
                    11.	Вы не должны создавать аккаунты на Сервисе с помощью несанкционированных средств, включая, но не ограничиваясь использованием автоматизированных устройств, скриптов, ботов, веб-пауков, краулеров или скраперов.</br>
                    12.	Вы не должны предпринимать попытки ограничить другого пользователя в использовании Сервиса и не должны потворствовать или способствовать нарушениям настоящих Условий использования или любых других условий Looksterapp.</br>
                    13.	Нарушение настоящих Условий использования может привести к удалению вашего аккаунта Looksterapp на основе одностороннего решения Looksterapp. Вы выражаете понимание и согласие с тем, что Looksterapp не может и не несет ответственность за Материалы, опубликованные на Сервисе, и вы пользуетесь Сервисом на свой собственный риск. Если вы нарушаете букву или дух настоящих Условий использования или создаете другой риск или возможность для юридического преследования Looksterapp, мы вправе полностью или частично ограничить предоставление вам Сервиса.</br>
             
            </div>
            <div>
                <h3 style="font-weight:bold; border-bottom: 2px solid #333; margin-bottom: 30px;">Общие положения</h3>
             
                    1.	Мы оставляем за собой право изменять или прекращать действие Сервиса или ограничивать ваш доступ к Сервису по любым причинам, без предупреждения, в любое время и не неся обязательств перед вами.</br>
                    2.	После удаления аккаунта все лицензии и иные права, предоставленные вам настоящими Условиями использования, немедленно прекращают свое действие.</br>
                    3.	Мы оставляем за собой право время от времени в одностороннем порядке изменять настоящие Условия пользования («Обновленные Условия»). За исключением тех ситуаций, когда мы вносим изменения по юридическим или административным причинам, мы заранее в разумные сроки уведомим вас о дате вступления в силу Обновленных Условий. Вы соглашаетесь с тем, что мы можем уведомить вас об Обновленных Условиях, опубликовав их на Сервисе, и что использование вами Сервиса после вступления в силу Обновленных Условий (или иная ваша подобная деятельность, которую мы можем уточнить в разумных рамках) означает ваше согласие с Обновленными Условиями. Следовательно, мы рекомендуем вам ознакомиться с настоящими Условиями использования или любыми Обновленными Условиями до использования Сервиса. Обновленные Условия вступят в силу с момента их опубликования или с более поздней даты, которая может быть указана в Обновленных Условиях, и с этого момента будут применимы к использованию вами Сервиса. При решении спорных вопросов, возникших до момента вступления в силу Обновленных Условий, мы будем руководствоваться настоящими Условиями использования.</br>
                    4.	Мы оставляем за собой право отказать в доступе к Сервису любому человеку по любой причине в любое время.</br>
                    5.	Мы оставляем за собой право изъять любое имя пользователя по любой причине.</br>
                    6.	Мы можем, но не обязаны, удалять, редактировать, блокировать и (или) отслеживать Материалы или аккаунты, содержащие Материалы, которые в соответствии с нашим односторонним решением нарушают настоящие Условия использования.</br>
                    7.	Вы несете единоличную ответственность за ваше взаимодействие с другими пользователями Сервиса, как в сети Интернет, так и вне ее. Вы соглашаетесь с тем, что Looksterapp не несет ответственности за поведение любого пользователя. Looksterapp оставляет за собой право, но не обязан, отслеживать споры между вами и другими пользователями или вмешиваться в них. Полагайтесь на здравый смысл и рассудок при взаимодействии с другими людьми, в том числе при загрузке или публикации Материалов или любой другой личной или иной информации.</br>
                    8.	На нашем Сервисе или в сообщениях, полученных от Сервиса, могут содержаться ссылки на сторонние веб-сайты или функции. В изображениях или комментариях на Сервисе также могут содержаться ссылки на сторонние веб-сайты или функции. Сервис также включает в себя стороннее содержимое, которое мы не контролируем, не обслуживаем и не поддерживаем. Функциональность Сервиса также допускает взаимодействие между Сервисом и сторонними веб-сайтами или функциями, в том числе с приложениями, связывающими Сервис или ваш профиль на Сервисе со сторонними веб-сайтами или функциями. Например, Сервис может включать в себя функцию, позволяющую вам передавать Материалы с Сервиса или ваши Материалы третьей стороне, и они могут быть опубликованы в общем доступе на этом стороннем сервисе или в стороннем приложении. Для использования этой функции вам, как правило, необходимо войти в ваш аккаунт на этом стороннем сервисе, и вы делаете это на свой собственный риск. Looksterapp не контролирует какие-либо сторонние сервисы или их материалы. Вы выражаете понимание и согласие с тем, что Looksterapp не несет никакой ответственности за любые подобные сторонние сервисы или функции. ВАШЕ ВЗАИМОДЕЙСТВИЕ И ДЕЛОВЫЕ ОТНОШЕНИЯ С ТРЕТЬИМИ ЛИЦАМИ, НАЙДЕННЫМИ С ПОМОЩЬЮ СЕРВИСА, КАСАЮТСЯ ТОЛЬКО ВАС И ДАННОГО ТРЕТЬЕГО ЛИЦА. Вы можете на свой собственный риск и исключительно по своему решению использовать приложения, связывающие Сервис или ваш профиль на Сервисе со сторонним сервисом («Приложением»), и такое Приложение может взаимодействовать с вашим профилем на Сервисе, устанавливать с ним связь или собирать и (или) передавать информацию из него и в него. Используя подобные Приложения, вы принимаете следующие положения: (i) если вы используете Приложение для передачи информации, вы соглашаетесь на передачу информации о вашем профиле на Сервисе; (ii) использование вами Приложения может повлечь за собой публичное раскрытие личной информации и (или) установление связи между этой информацией и вами, даже если она не была предоставлена самим Looksterapp; и (iii) вы используете Приложение добровольно и на свой собственный риск и соглашаетесь с тем, что сервис Looksterapp не несет ответственности за деятельность, связанную с данным Приложением.</br>
                    9.	Вы соглашаетесь с тем, что несете ответственность за все расходы, которые может повлечь за собой использование Сервиса.</br>
                    10.	Мы запрещаем использование краулеров и скраперов, кэширование или иные способы получения доступа к любым материалам Сервиса с помощью автоматизированных инструментов, включая, среди прочего, профили пользователей и фото (за исключением результатов использования протоколов стандартных поисковых систем или технологий, применяемых этими поисковыми системами с согласия Looksterapp).</br>
               
            </div>
            <div>
                <h3 style="font-weight:bold; border-bottom: 2px solid #333; margin-bottom: 30px;">Права</h3>
               
                    1.	Looksterapp не требует прав на любые Материалы, публикуемые вами на Сервисе или с его помощью. Но вы предоставляете Looksterapp неисключительное, полностью оплаченное и не подразумевающее выплату авторского гонорара, допускающее передачу и сублицензирование, действительное во всех странах разрешение на использование Материалов, опубликованных вами на Сервисе или с его помощью, в соответствии с Политикой конфиденциальности Сервиса, доступной по @Html.ActionLink("ссылке", "PrivacyPolicy", "Legal"), включая, но не ограничиваясь разделами 3 («Передача вашей информации»), 4 («Как мы храним вашу информацию»), и 5 («Персональные настройки, касающиеся вашей информации»).</br>
                    2.	Часть доходов Сервиса поступает от рекламных объявлений, и на Сервисе могут демонстрироваться рекламные объявления и акции. Вы соглашаетесь с тем, что Looksterapp может размещать подобные рекламные объявления и акции на Сервисе или в ваших Материалах, в их описании или в связи с ними. Способ, тон и масштаб демонстрации подобных рекламных объявлений и акций может меняться без уведомления.</br>
                    3.	Вы признаете, что мы не всегда можем распознать платные услуги, рекламные материалы или коммерческое взаимодействие.</br>
                    4.	Вы подтверждаете и гарантируете, что: (i) обладаете Материалами, опубликованными вами на Сервисе или с его помощью, или иными способами обладаете правом передавать права и лицензии, установленные настоящими Условиями использования; (ii) публикация и использование ваших Материалов на Сервисе или с его помощью не нарушает и не присваивает права любой третьей стороны, включая, помимо прочего, право на неприкосновенность личной жизни, право на публичное использование, авторские права, товарные знаки и (или) иные права на интеллектуальную собственность; (iii) вы соглашаетесь на выплату всех авторских гонораров, вознаграждений и любых других сумм, подлежащих выплате в результате публикации вами Материалов на Сервисе или с его помощью; и (iv) у вас есть законное право и правоспособность принять настоящие Условия использования в пределах вашей юрисдикции.</br>
                    5.	На Сервисе содержатся материалы, которыми Looksterapp владеет или на которые имеет лицензию («Материалы Looksterapp»). Материалы Looksterapp защищены авторским правом, правом на товарные знаки, патентом, коммерческой тайной и иными законами, и в отношениях между вами и Looksterapp последний обладает и сохраняет все права на Материалы Looksterapp и Сервис. Вы не можете удалять, изменять или скрывать любую отметку об авторском праве, товарный знак, знак обслуживания или иные отметки о правообладании, сопровождающие или встроенные в Материалы Looksterapp, и вы не можете воспроизводить, изменять, адаптировать, создавать свои материалы на основе, исполнять, демонстрировать, публиковать, распространять, передавать, транслировать, продавать, давать разрешение или иными способами использовать в своих интересах Материалы Looksterapp.</br>
                    6.	Название и логотип Looksterapp являются товарными знаками Looksterapp и не могут копироваться, имитироваться или использоваться, частично или полностью, без предварительного письменного разрешения от Looksterapp.</br>
                    7.	Хотя Looksterapp стремится к максимальной доступности Сервиса, в некоторых случаях работа Сервиса может быть приостановлена, включая, но не ограничиваясь плановым техническим обслуживанием или обновлением, экстренным ремонтом или сбоями в работе телекоммуникационных сетей и (или) оборудования. Кроме того, Looksterapp оставляет за собой право удалять любые Материалы с Сервиса по любой причине без предварительного уведомления. Looksterapp рекомендует вам сохранять копию ваших Материалов. Иными словами, Looksterapp не является сервисом резервного хранения данных, и вы соглашаетесь с тем, что не будете полагаться на Сервис как на способ хранения или резервного копирования Материалов. Looksterapp не несет перед вами ответственность за любые изменения, приостановление или прекращение работы Сервиса или за утрату любых Материалов. Вы также признаете, что Интернет может быть подвержен нарушениям безопасности, и загрузка Материалов или другой информации может не быть безопасной.</br>
                    8.	Вы соглашаетесь с тем, что Looksterapp не несет ответственность за Материалы, опубликованные на Сервисе, и не поддерживает их. Looksterapp не обязан предварительно просматривать, отслеживать, редактировать или удалять любые Материалы. Если ваши Материалы нарушают настоящие Условия использования, вы можете понести юридическую ответственность за размещение таких Материалов.</br>
                    9.	За исключением случаев, оговоренных в Политике конфиденциальности Сервиса, приведенной по @Html.ActionLink("ссылке","PrivacyPolicy","Legal"), в отношениях между вами и Looksterapp любые Материалы не являются конфиденциальными и имущественными, и мы не несем ответственности за любое использование или обнародование Материалов. Вы признаете и соглашаетесь с тем, что ваши отношения с Looksterapp не являются конфиденциальными и основанными на доверии и не относятся к иному типу особых отношений, и ваше решение разместить любые Материалы не ставит Looksterapp в позицию, которая чем-либо отличается от позиции представителей широкой публики, в том числе в отношении ваших Материалов. Looksterapp не несет никаких обязательств в отношении конфиденциальности ваших Материалов и никакой ответственности за использование или обнародование любых загружаемых вами материалов.</br>
                    10.	В соответствии со своей политикой Looksterapp не принимает и не рассматривает материалы, информацию, идеи, рекомендации или иные материалы, кроме тех, которые были отдельно запрошены нами и к которым могут применяться отдельные условия, правила и требования. Это необходимо, чтобы избежать любых недоразумений в случае, если ваши идеи схожи с уже разработанными или разрабатываемыми нами независимо от вас. Соответственно, Looksterapp не принимает незатребованные материалы или идеи и не несет ответственность за любые переданные таким образом материалы или идеи. Если, несмотря на наши правила, вы решили отправить нам материалы, информацию, идеи, рекомендации или иные материалы, вы соглашаетесь с тем, что Looksterapp может использовать любые подобные материалы, информацию, идеи, рекомендации или иные материалы в любых целях, включая, но не ограничиваясь разработкой и продвижением продуктов и услуг, не неся никакой ответственности перед вами и не производя никаких выплат в вашу пользу.</br>
                
            </div>
            <div style="margin-bottom: 50px;">
                <h3 style="font-weight:bold; border-bottom: 2px solid #333;margin-bottom: 30px;">Сообщение о нарушении авторских и других прав на интеллектуальную собственность</h3>
               
                    1.	Мы относимся с уважением к правам других лиц и ожидаем этого от вас.</br>
                    3.	В случае неоднократного нарушения прав на интеллектуальную собственность других лиц мы заблокируем ваш аккаунт, если посчитаем это целесообразным.</br>
                
            </div>
        </div>
    </div>
</div>


