﻿@model LooksterWeb.PostSpam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostSpam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostSpamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
