﻿@model IEnumerable<LooksterWeb.PostSpam>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <h2>Жалобы на посты</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Отправитель Жалобы
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Post.Description)
            </th>
            <th>
                Фото А
            </th>
            <th>
                Фото Б
            </th>
            <th>
                Получатель Жалобы
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Post.Description)
                </td>
                <td>
                    <div class="fillcustom">
                        <img src="@item.Post.ImageAUrl" />
                    </div>

                </td>
                <td>
                    <div class="fillcustom">
                        <img src="@item.Post.ImageBUrl" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post.User.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostSpamId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostSpamId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostSpamId })
                </td>
            </tr>
        }

    </table>
</div>