﻿@model LooksterWeb.Models.LoginModel
@{
    Layout = null;
}

<h2>Авторизация</h2>
    <section class="create_div">

        @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
        {
            <p>Введите логин</p>
            <p>
                @Html.EditorFor(model => model.Username, new { @class = "", @required = "true" })
            </p>
            <p>Введите пароль</p>
            <p>
                @Html.PasswordFor(model => model.Password, new { @class = "", @required = "true"})
            </p>
            <p>
                <input type="submit" value="Вход" />
            </p>
        }
    </section>
