﻿@using LooksterWeb.Models
@model ContactUser

  <!-- ========== HEADER ========== -->
@*<header class="header hidden-xs">
    <div class="container-fluid">
        <div class="row">

            <!-- ========== LOGO  ========== -->
            <div class="col-md-6 col-sm-6 hidden-xs">
                <img src="/Content/images/logo-light.png" alt="logo" class="light-logo">
                <img src="/Content/images/logo-light.png" alt="logo" class="dark-logo">
            </div> <!-- end col-md-6 -->
            <!-- ========== SOCIAL MEDIA LINKS ========== -->
            <div class="col-md-6 col-sm-6 text-right hidden-xs">

                <a href="http://instagram.com/lookster_app" class="social-btn"><i class="fa fa-instagram"></i></a>
                    <a href="https://vk.com/looksterapp" class="social-btn"><i class="fa fa-vk"></i></a>
                <p>RU</p>
                    <p>EN</p>

            </div> <!-- end col-md-6 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</header>*@
<div class="" id="fullpage">
    

    <!-- ========== STATIC IMAGE DIV ========== -->
    <section class="static-img-div section content-section" id="home">
        <div class="content">
            <div class="container outer">
                <div class="row inner">
                    <div class="col-md-12 centered">

                        <!-- ========== STATIC HEADLINE ========== -->
                        <h1 class="headline" style="font-family: 'Lobster', cursive; margin-top:30px;"><span style="font-size:2em;color: #334D5C;">LooksterApp</span></br><span class="min-headline">выбор без забот.</span> </h1>

                        <div class="col-md-8 col-md-offset-2 intro-para " style="margin-top: 45px;font-weight: bold;">
                            <p>У вас когда-нибудь была проблема с выбором? С выбором фото, образа, одежды или еще чего-нибудь? Тогда LooksterApp - это то, что вам нужно! Теперь можно попросить совет не только у друга, но и у огромного количества людей со всего мира. </p>
                        </div>

                        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
                            <div class="col-md-10 col-md-offset-1">
                                <a href='https://play.google.com/store/apps/details?id=com.looksterapp.client.looskterappclient&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="img-responsive" alt='Доступно в Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/ru_badge_web_generic.png' /></a>
                            </div>
                            </div>
                        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2  col-xs-10 col-xs-offset-1">
                            <div class="arrow bounce">
                                <a class="fa fa-arrow-down fa-2x" style="color:#DF5A49;" href="#"></a>
                                <p class="text-center" style="color:#DF5A49; font-weight:bold;">Покрути вниз</p>
                            </div>
                           
                        </div>

                    </div> <!-- end col-md-12 -->
                </div> <!-- end row -->
            </div> <!-- end container -->

        </div> <!-- end content -->
    </section> <!-- end section -->
    <!-- ========== FEATURES ========== -->
    <section class="content-section section" id="features">
        <div class="container">

            <!-- ========== SECTION TITLE ========== -->

            <div class="row mb30">
                <div class="col-md-4 col-md-offset-8 text-center" style="padding-right: 25px;">
                    <h2 style="color: #DF5A49;font-weight: bold;">Сравнивайте!</h2>
                    <p style="font-size:1.2em;color: #334D5C;font-weight: bold;">Ваши фото, вещи, фотографии котиков и еще много чего смогут быстро получить правдивые независимые оценки людей с разных точек планеты.</p>
                </div>


            </div> <!-- end row -->



        </div> <!-- end container -->
    </section> <!-- end section -->
    <!-- ========== ABOUT US SECTION ========== -->



    <section class="content-section section" id="aboutUs">
        <div class="container">

            <!-- ========== SECTION TITLE ========== -->
            <div class="row ">
                <div class="col-md-4  col-sm-6 text-center" style="padding-left: 25px;">
                    <h2 style="color: #DF5A49; font-weight:bold;">Голосуйте! </h2>
                    <p style="font-size:1.2em;color: #334D5C;font-weight: bold;">
                        Помогите другим людям сделать правильный выбор, и они останутся благодарны.
                    </p>
                </div>


            </div> <!-- end row -->


        </div> <!-- end container -->
    </section> <!-- end section -->

    <section class="content-section section" id="features2">
        <div class="container-fluid">

            <!-- ========== SECTION TITLE ========== -->
            <div class="row ">
                <div class="col-md-4  col-sm-6 col-xs-8 text-center" style="padding-left:25px;">
                    <h2 style="color:#DF5A49; font-weight:bold;">Веселитесь! </h2>
                    <p style="font-size:1.2em;color: #334D5C;font-weight: bold;">
                        Множество людей в разных уголках мира делятся своими фото, оценивайте и комментируйте.
                    </p>
                </div>
                
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-8 text-center" style="padding-left:25px;">
                    <h2 style="color: #DF5A49;font-weight:bold;">Выбирайте! </h2>
                    <p style="font-size:1.2em; color: #334D5C;font-weight: bold;">
                        Выберите целевую аудиторию, которая будет голосовать за ваши фото.
                    </p>
                </div>


            </div> <!-- end row -->
            <div class="row ">
                <div class="col-md-4 col-sm-6 col-xs-8 text-center" style="padding-left:25px;">
                    <h2 style="color: #DF5A49;font-weight:bold;">Батлуйте с друзьями! </h2>
                    <p style="font-size:1.2em; color: #334D5C;font-weight: bold;;">
                        Хотите узнать кто круче, пригласите друга и создайте совместное голосование.
                    </p>
                </div>
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-8 text-center" style="padding-left:25px;">
                    <h2 style="color: #DF5A49;font-weight:bold;">Делитесь! </h2>
                    <p style="font-size:1.2em; color: #334D5C;font-weight: bold;">
                        Прямой постинг лучшего фото в любимые социальные сети.
                    </p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end section -->
    <!-- ========== CONTACT US SECTION ========== -->
    <section class="content-section section" id="contactUs">
        <div class="container">

            <!-- ========== SECTION TITLE ========== -->
             <!-- end row --><div class="row">
                <div class="col-md-6 col-md-offset-3 text-center section-title">
                    <h3 class="underline longer-underline" style="color: #334D5C;font-weight: bold;">Свяжитесь с нами</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <h5 class="underline" style="color: #334D5C;font-weight: bold;">Email</h5>
                            <p class="mb50">
                                <a href="support@looksterapp.info">  support@looksterapp.info</a>
                            </p>
                        </div>
                        <div class="col-md-7 col-md-offset-0 col-sm-4 col-xs-6 col-xs-offset-0" style="padding-left:0;">
                            <a href='https://play.google.com/store/apps/details?id=com.looksterapp.client.looskterappclient&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="img-responsive" alt='Доступно в Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/ru_badge_web_generic.png' /></a>
                        </div>
                        @*<div class="col-md-6 col-sm-6">
                            <h5 class="underline">Подписывайтесь</h5>
                            <p class="mb50">
                                <a href="http://instagram.com/lookster_app" class="social-btn"><i class="fa fa-instagram"></i></a>
                                <a href="https://vk.com/looksterapp" class="social-btn"><i class="fa fa-vk"></i></a>

                            </p>
                        </div>*@
                    </div> <!-- end row -->
                </div> <!-- end col-md-6 -->

                <div class="col-md-8 mt50">

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "contact-us-form" }))
                    {
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @placeholder = "Ваше Имя..", @required = "true" } })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @placeholder = "Ваш Email..", @required = "true" } })
                            @Html.TextAreaFor(model => model.Message, new { @rows = "5", @placeholder = "Ваше сообщение.." })
                        <div class="clearfix "></div>
                        <button type="submit" class="sr-btn sr-primary hvr-sweep-to-right pull-right mb20"><span class="icon pe-7s-paper-plane"></span>Отправить</button>
                    }
                </div> <!-- end col-md-6 -->

            </div> <!-- end row -->
          
        </div> <!-- end container -->
        <footer class="row">
            <ul class="col-md-10 col-md-offset-1 col-xs-12" style="display:inline; margin-bottom: 10px; margin-top: 10px;">
                <li class="col-md-4  col-xs-12" style="display:inline; text-align:center;">@Html.ActionLink("Политика конфиденциальности", "PrivacyPolicy", "Legal")</li>
                <li class="col-md-4  col-xs-12" style="display:inline; text-align:center; font-weight: bold;">LooksterApp, 2017</li>
                <li class="col-md-4  col-xs-12"  style="display:inline; text-align:center;">@Html.ActionLink("Условия использования", "TermsOfUse", "Legal")</li>
            </ul>
        </footer>
    </section> <!-- ========== end contact us section ========== -->
    
</div> <!-- end fullpage -->

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        @Html.Raw(ViewBag.InvokeScript);
    });

</script>
