﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!-- ========== PAGE TITLE ========== -->
    <title>Lookster app - приложение для сравнения фото</title>

    <!-- ========== META TAGS ========== -->
    <meta name="description" content="Какое фото лучше? Что лучше выбрать? Lookster - приложение, помогающее с выбором">

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ========== VIEWPORT META ========== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- ========== FAVICON & APPLE ICONS ========== -->
    <link rel="shortcut icon" href="/Content/images/favicon.png">
    <link rel="apple-touch-icon" href="/Content/images/apple-touch-icon.png">

    <!-- ========== GOOGLE FONTS ========== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100" rel='stylesheet' type='text/css'>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!-- ========== MINIFIED VENDOR CSS ========== -->

</head> <!-- end head -->
<!-- ========== BODY ==========
.light-header: for light colored header
.dark-header: for dark colored header
==========  ========== -->
<body class="light-header animsition" id="main-body">

  


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
